<div class="container">
  <!-- <header-i18n showLangText="false" class="langs"></header-i18n> -->
  <div class="wrap">
    <div class="top">
      <div class="head">
        <img class="logo" src="./assets/logo-color.svg">
        <span class="title">华影聚合协作平台</span>
      </div>
      <div class="desc"> </div>
    </div>
    <router-outlet></router-outlet>
    <global-footer [links]="links">
      Copyright
      <i class="anticon anticon-copyright"></i> 2019
      <a href="//huayingjuhe.com" target="_blank">华影聚合</a>
    </global-footer>
  </div>
</div>
