/* You can add global styles to this file, and also import other style files */
.block-btn {
    margin: 8px 0;
}
.left-btn {
    margin-right: 8px;
    margin-bottom: 12px;
}
code {
    border: none !important;
}